{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level_tag == 'error' %}
                    <div id="card-alert" class="card red lighten-5">
                        <div class="card-content red-text">
                            <p><strong>{{ message.message }}</strong></p>
                        </div>
                    </div>
                {% elif message.level_tag == 'success' %}
                    <div id="card-alert" class="card green lighten-5">
                        <div class="card-content green-text">
                            <p>{{ message.message }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <div class="section">
            <p class="caption">
                {% if data.language == "Eng" %}
                    Welcome to Super Shop Sales management System (SSMS) - <span style="color: purple">{{ data.username }}</span>. SSMS is a e-commerce web application
                    and a web admin panel to manage a super shop sales with detailed reports.
                {% else %}
                    SSMS - তে আপনাকে স্বাগতম - {{ data.username }}.
                    SSMS - একটি ওয়েব এপলিকেশন.
                {% endif %}
            </p>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12">
                    <h4 class="header">
                        {% if data.language == "Eng" %}
                            Products List: ...
                        {% else %}
                            পণ্য তালিকা ...
                        {% endif %}
                    </h4>
                </div>
                <section class="plans-container" id="plans">
                    {% for each in display %}
                        <article class="col s12 m6 l4">
                            <div class="card z-depth-1 hoverable">
                                <div class="card-image teal darken-2 waves-effect">
                                    <div class="card-title">{{ each.name }}</div>
                                    <div class="price"><sup>
                                        {% if data.language == "Eng" %}
                                            Min Price
                                        {% else %}
                                            সর্বনিন্ম মূল্য
                                        {% endif %}
                                        - <b> ৳ {{ each.price }}</b>/BDT</sup>
                                    </div>
                                    <div class="price-desc">
                                        {% if data.language == "Eng" %}
                                            Category
                                        {% else %}
                                            বিভাগ
                                        {% endif %}
                                        - {{ each.category }}
                                    </div>
                                    <div class="price-desc">
                                        {% if data.language == "Eng" %}
                                            Brand
                                        {% else %}
                                            ব্র্যান্ড
                                        {% endif %}
                                        - {{ each.brand }}
                                    </div>
                                    <div class="price-desc">
                                        {% if data.language == "Eng" %}
                                            Size
                                        {% else %}
                                            আকার
                                        {% endif %}
                                        - {{ each.size }}
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div class="card-panel grey lighten-5 z-depth-1">
                                                <div class="row valign-wrapper">
                                                    <div class="col s12 m12">
                                                        <img src="{{ each.image }}" alt=""
                                                             class="responsive-img valign" style="border-radius: 20%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action center-align">
                                    <a href="{% url 'items:ProductDetailsView' each.id %}"
                                       class="waves-effect waves-light btn green">
                                        {% if data.language == "Eng" %}
                                            View Details
                                        {% else %}
                                            বিস্তারিত দেখুন
                                        {% endif %}
                                    </a>
                                    <a href="{% url 'items:OrderCreate' each.id %}"
                                       class="waves-effect waves-light btn indigo">
                                        {% if data.language == "Eng" %}
                                            Order Now
                                        {% else %}
                                            এখুনি অর্ডার করুন
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>

{% endblock %}
