{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level_tag == 'error' %}
                    <div id="card-alert" class="card red lighten-5">
                        <div class="card-content red-text">
                            <p><strong>{{ message.message }}</strong></p>
                        </div>
                    </div>
                {% elif message.level_tag == 'success' %}
                    <div id="card-alert" class="card green lighten-5">
                        <div class="card-content green-text">
                            <p>{{ message.message }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="container">
        <div class="section">
            <div id="table-datatables">
                <div class="row">
                    <div>
                        <h4 class="header">Stock List</h4>
                    </div>
                    <div style="float: right">
                        <a href="{% url 'items:StockCreateView' %}" class="btn waves-effect waves-light light-green darken-4"><i
                                class="mdi-content-add left"></i>Add Stock</a>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                        <thead>
                        <tr>
                            <th>S/L</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Size</th>
                            <th>Sell Price</th>
                            <th>Buying Price</th>
                            <th>Quantity</th>
                            <th>Expiry Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for each in items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ each.product.name }}</td>
                                <td>{{ each.product.brand }}</td>
                                <td>{{ each.product.category.name }}</td>
                                <td>{{ each.product.size }}</td>
                                <td>{{ each.product.price }}</td>
                                <td>{{ each.buying_price }}</td>
                                <td>{{ each.quantity }}</td>
                                <td>{{ each.expiry_date|date }}</td>
                                <td>
                                    <a href="{% url 'items:StockUpdateView' each.id %}" class="btn-floating waves-effect waves-light deep-orange"><i class="mdi-editor-mode-edit"></i></a>
                                    <a href="{% url 'items:StockDeleteView' each.id %}" class="btn-floating waves-effect waves-light red"><i class="mdi-action-delete"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
